.h1-contacto{
    margin-left: 2%;
    margin-top: 9%;
}

.h3{
    margin-left: 2%;
    margin-bottom: 2%
}

.section-form{
    margin-left: 2%;
    display:flex;
    flex-direction: row;
    img{
        width: 40%;
    }
    form{
        margin-left: 20%;
        button{
            @include boton-tour;
        }       
        div{
            display:flex;
            flex-direction:column;
            width: 150%;
            margin-bottom: 13%;
            label{
                font-size:2.5rem;
            }
        }
    }
}