@media (min-width: 375px) and (max-width: 376px) {
    // MOBILE 
    
    .navbar{
        width: 100%;
        .container-fluid{
            #logo{
                width: 250%;
            }
        }
        #links{
            flex-direction: column;
            margin-left: 20%;
        }
    }

    
    /* inicio */

    .section-carousel{
        width:100%;
        margin-top: 20%;
    }

    .table{
        font-size: 1.2rem;
        text-align: center;
        margin-left: 5%;
    }

    //MERCH

    #merch{
        margin-top: 25%;
    }

    // DISCOGRAFIA
    
    #discografia{
        margin-top: 20%;
        width: 100%;
        margin-left: 0%;
    }
    .section-discos{
        #div-discos{
            flex-direction: column;
            #disco1{
                @include div-discos
            }
            #disco2{
                @include div-discos
            }
            #disco3{
                @include div-discos
            }
            #disco4{
                @include div-discos
            }
            #disco5{
                @include div-discos
            }
            #disco6{
                @include div-discos
            }
            #disco7{
                @include div-discos
            }
        }
    }
    

    /* sobre nosotros */

    .div-foto{
        margin-top: 15%;
    }
    
    #section-sobre{
        p{
            margin-left: 4%;
            width: 90%;
        }
    }

    // CONTACTO

    .h1-contacto{
        margin-top: 25%;
    }
    
    .section-form{
        margin-bottom: 30%;
        img{
            display:none;
        }
        form{
            margin-left: -95%;
            width: 200%;
            div{     
                width: 90%;
                margin-bottom: 4%;
                label{
                    font-size: 1.7rem;
                }
            }
         }
    }

    // FOOTER

    footer{
        justify-content: space-between;
        margin-top: 10%;
        width: 80%;
        a{
            #twitter{
                width: 650%;
            }
            #spotify{
                width: 600%;
            }
            #youtube{
                width: 700%;
            }
        }
    }
}

    // DESKTOP

@media (max-width: 1200px){
    
    // NAVBAR  

    #links{
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }

    // INICIO

    .carousel{
        width:100%;
        margin-top: 7%;
    }

    // MERCH

    .div-merch{
        .anim{
            #buzo1{
                width: 80%;
            }
            #buzo2{
                width: 80%;
            }
            #remera1{
                width: 80%;
            }
            #remera2{
                width: 80%;
            }
            #remera3{
                width: 80%;
            }
            #remera4{
                width: 80%;
            } 
            margin-bottom: 5%;
        }
    }

    //DISCOGRAFIA

    #div-discos{
        @include flex-row;
        justify-content: center;
        #disco1{
            width: 30%;
        }
        #disco2{
            width: 30%;
            height: 50%;
        }
        #disco3{
            width: 30%;
            height: 50%;
        }
        #disco4{
            width: 30%;
            height: 300px;
        }
        #disco5{
            width: 30%;
            height: 350px;
        }
        #disco6{
            width: 30%;
        }
        #disco7{
            width: 30%;
            height: 350px;
        }
    }
    
    // sobreNosotros

    #sobreNosotros{
        margin-top: 4%;
    }

    //contacto

    .section-form{
        margin-bottom: 10%;
        margin-left: 50%;
        form{
            div{
                width: 75%;
            }
         }
    }
}
