#merch{
    margin-left: 2%;
    margin-top:  10%;
}

.div-merch{
    width: 100%;
    @include flex-row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    #buzo1{
        width: 90%;
    }
    #buzo2{
        @extend #buzo1;
    }
    #remera1{
        @extend #buzo1;
    }
    #remera2{
        @extend #buzo1;
    }
    #remera3{
        @extend #buzo1;
    }
    #remera4{
        @extend #buzo1;
    }

    .anim:hover{
        transform: scale(1.1);
        cursor: pointer;

    }
}


